{
  "openapi": "3.0.3",
  "info": {
    "title": "Order Management System API",
    "description": "Comprehensive API specification for a realistic Order Management System (OMS) designed for e-commerce operations. Covers order lifecycle management, fulfillment processing, shipping coordination, returns and refunds, inventory synchronization, customer data linkage, payment handling, reporting, and system configuration.",
    "version": "1.1.0",
    "contact": {
      "name": "ExampleOMS API Team",
      "url": "https://developer.exampleoms.com",
      "email": "api-support@exampleoms.com"
    }
  },
  "servers": [
    {
      "url": "http://kong-demo-lb-285734184.eu-west-3.elb.amazonaws.com",
      "description": "Ecommerce API Gateway"
    }
  ],
  "tags": [
    {
      "name": "Orders",
      "description": "Core operations for creating, retrieving, updating, and managing customer orders."
    },
    {
      "name": "Order Items",
      "description": "Managing line items within orders."
    },
    {
      "name": "Fulfillments",
      "description": "Managing the process of fulfilling order items, including picking, packing, and shipment creation."
    },
    {
      "name": "Shipping",
      "description": "Operations related to shipping methods, carriers, rate calculation, and label generation."
    },
    {
      "name": "Returns (RMAs)",
      "description": "Managing customer return requests (Return Merchandise Authorizations)."
    },
    {
      "name": "Refunds",
      "description": "Processing refunds related to orders or returns."
    },
    {
      "name": "Inventory",
      "description": "Operations for querying and adjusting inventory levels across locations."
    },
    {
      "name": "Locations",
      "description": "Managing fulfillment locations (warehouses, stores)."
    },
    {
      "name": "Customers",
      "description": "Retrieving customer-related order information."
    },
    {
      "name": "Payments",
      "description": "Operations for processing and managing order payments."
    },
    {
      "name": "Reports",
      "description": "Endpoints for generating various operational reports."
    },
    {
      "name": "Configuration",
      "description": "Managing system settings, webhooks, and health checks."
    }
  ],
  "paths": {
    "/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List orders",
        "description": "Retrieves a paginated list of orders, supporting various filtering and sorting options.",
        "operationId": "listOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/pageParam"
          },
          {
            "$ref": "#/components/parameters/filterStatus"
          },
          {
            "$ref": "#/components/parameters/filterDateFrom"
          },
          {
            "$ref": "#/components/parameters/filterDateTo"
          },
          {
            "$ref": "#/components/parameters/filterChannel"
          },
          {
            "$ref": "#/components/parameters/filterCustomerId"
          },
          {
            "name": "fulfillmentStatus",
            "in": "query",
            "description": "Filter by fulfillment status.",
            "schema": {
              "type": "string",
              "enum": [
                "unfulfilled",
                "partially_fulfilled",
                "fulfilled",
                "cancelled"
              ]
            }
          },
          {
            "name": "paymentStatus",
            "in": "query",
            "description": "Filter by payment status.",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "paid",
                "refunded",
                "partially_refunded",
                "authorized",
                "failed"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort results by field (prefix with '-' for descending). Examples: `createdAt`, `-grandTotal.amount`, `orderNumber`",
            "schema": {
              "type": "string",
              "example": "-createdAt"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of orders.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedOrderResponse"
                },
                "example": {
                  "data": [
                    {
                      "id": "ord_d5f9e3c1-8a7b-4d2e-9f1c-0a9b8d7e6f5a",
                      "orderNumber": "WEB-1001",
                      "channel": "Website",
                      "status": "processing",
                      "createdAt": "2023-11-01T10:30:00Z",
                      "updatedAt": "2023-11-01T11:05:00Z",
                      "customerInfo": {
                        "customerId": "cust_abc987",
                        "email": "john.doe@example.com",
                        "firstName": "John",
                        "lastName": "Doe"
                      },
                      "grandTotal": {
                        "amount": 54.97,
                        "currencyCode": "USD"
                      },
                      "paymentStatus": "paid",
                      "fulfillmentStatus": "unfulfilled",
                      "_links": {
                        "self": {
                          "href": "/orders/ord_d5f9e3c1-8a7b-4d2e-9f1c-0a9b8d7e6f5a"
                        }
                      }
                    }
                  ],
                  "links": {
                    "self": {
                      "href": "/orders?page=1&limit=20"
                    },
                    "next": {
                      "href": "/orders?page=2&limit=20"
                    },
                    "first": {
                      "href": "/orders?page=1&limit=20"
                    },
                    "last": {
                      "href": "/orders?page=15&limit=20"
                    }
                  },
                  "meta": {
                    "totalItems": 295,
                    "itemsPerPage": 20,
                    "currentPage": 1,
                    "totalPages": 15
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "list-orders"
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Create a new order",
        "description": "Creates a new customer order in the system. Typically triggered by an e-commerce platform integration.",
        "operationId": "createOrder",
        "requestBody": {
          "required": true,
          "description": "Order data to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreateRequest"
              },
              "example": {
                "orderNumber": "WEB-1002",
                "channel": "Website",
                "customerInfo": {
                  "customerId": "cust_xyz123",
                  "email": "jane.smith@example.net",
                  "firstName": "Jane",
                  "lastName": "Smith"
                },
                "billingAddress": {
                  "firstName": "Jane",
                  "lastName": "Smith",
                  "street1": "456 Oak Ave",
                  "city": "Othertown",
                  "stateCode": "NY",
                  "postalCode": "10001",
                  "countryCode": "US",
                  "phone": "555-987-6543",
                  "addressType": "billing"
                },
                "shippingAddress": {
                  "firstName": "Jane",
                  "lastName": "Smith",
                  "street1": "456 Oak Ave",
                  "city": "Othertown",
                  "stateCode": "NY",
                  "postalCode": "10001",
                  "countryCode": "US",
                  "phone": "555-987-6543",
                  "addressType": "shipping"
                },
                "items": [
                  {
                    "sku": "MUG-LOGO-WHT",
                    "productId": "prod_67890",
                    "name": "Company Logo Mug - White",
                    "quantity": 1,
                    "unitPrice": {
                      "amount": 12.99,
                      "currencyCode": "USD"
                    }
                  },
                  {
                    "sku": "NOTEBOOK-GRID",
                    "productId": "prod_11223",
                    "name": "Grid Notebook - A5",
                    "quantity": 2,
                    "unitPrice": {
                      "amount": 8.5,
                      "currencyCode": "USD"
                    }
                  }
                ],
                "shippingMethod": "std-ground",
                "shippingMethodName": "Standard Ground",
                "shippingTotal": {
                  "amount": 5.0,
                  "currencyCode": "USD"
                },
                "taxTotal": {
                  "amount": 2.4,
                  "currencyCode": "USD"
                },
                "discountTotal": {
                  "amount": 0.0,
                  "currencyCode": "USD"
                },
                "paymentStatus": "pending",
                "fulfillmentStatus": "unfulfilled",
                "notes": "Gift message: Happy Birthday!",
                "tags": [
                  "Gift"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created successfully.",
            "headers": {
              "Location": {
                "description": "URL of the newly created order.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "create-a-new-order"
      }
    },
    "/orders/search": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Search orders",
        "description": "Searches for orders based on various criteria like customer email, order number, or tracking number.",
        "operationId": "searchOrders",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search term (e.g., order number, email, tracking number).",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/pageParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedOrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "search-orders"
      }
    },
    "/orders/{orderId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/orderId"
        }
      ],
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order details",
        "description": "Retrieves complete details for a specific order by its unique ID.",
        "operationId": "getOrderById",
        "responses": {
          "200": {
            "description": "Order details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                },
                "example": {
                  "id": "ord_d5f9e3c1-8a7b-4d2e-9f1c-0a9b8d7e6f5a",
                  "orderNumber": "WEB-1001",
                  "channel": "Website",
                  "status": "processing",
                  "statusHistory": [
                    {
                      "timestamp": "2023-11-01T10:30:00Z",
                      "status": "pending_payment",
                      "notes": "Order placed.",
                      "triggeredBy": "system"
                    },
                    {
                      "timestamp": "2023-11-01T10:35:00Z",
                      "status": "processing",
                      "notes": "Payment successful.",
                      "triggeredBy": "payment_gateway"
                    }
                  ],
                  "createdAt": "2023-11-01T10:30:00Z",
                  "updatedAt": "2023-11-01T10:35:00Z",
                  "customerInfo": {
                    "customerId": "cust_abc987",
                    "email": "john.doe@example.com",
                    "firstName": "John",
                    "lastName": "Doe"
                  },
                  "billingAddress": {
                    "id": "addr_b1a2...",
                    "firstName": "John",
                    "lastName": "Doe",
                    "street1": "123 Billing Rd",
                    "city": "Payville",
                    "stateCode": "CA",
                    "postalCode": "90211",
                    "countryCode": "US",
                    "addressType": "billing"
                  },
                  "shippingAddress": {
                    "id": "addr_s3c4...",
                    "firstName": "John",
                    "lastName": "Doe",
                    "street1": "123 Main St",
                    "city": "Anytown",
                    "stateCode": "CA",
                    "postalCode": "90210",
                    "countryCode": "US",
                    "phone": "555-123-4567",
                    "addressType": "shipping"
                  },
                  "items": [
                    {
                      "id": "item_1a...",
                      "sku": "TSHIRT-BLK-L",
                      "productId": "prod_12345",
                      "name": "Black T-Shirt - Large",
                      "quantity": 2,
                      "unitPrice": {
                        "amount": 19.99,
                        "currencyCode": "USD"
                      },
                      "lineTotal": {
                        "amount": 39.98,
                        "currencyCode": "USD"
                      }
                    }
                  ],
                  "subtotal": {
                    "amount": 39.98,
                    "currencyCode": "USD"
                  },
                  "shippingTotal": {
                    "amount": 5.0,
                    "currencyCode": "USD"
                  },
                  "taxTotal": {
                    "amount": 3.6,
                    "currencyCode": "USD"
                  },
                  "discountTotal": {
                    "amount": 0.0,
                    "currencyCode": "USD"
                  },
                  "grandTotal": {
                    "amount": 48.58,
                    "currencyCode": "USD"
                  },
                  "paymentStatus": "paid",
                  "fulfillmentStatus": "unfulfilled",
                  "shippingMethod": "std-ground",
                  "shippingMethodName": "Standard Ground",
                  "notes": null,
                  "tags": [],
                  "_links": {
                    "self": {
                      "href": "/orders/ord_d5f9e3c1-8a7b-4d2e-9f1c-0a9b8d7e6f5a"
                    },
                    "fulfillments": {
                      "href": "/orders/ord_d5f9e3c1-8a7b-4d2e-9f1c-0a9b8d7e6f5a/fulfillments"
                    },
                    "payments": {
                      "href": "/orders/ord_d5f9e3c1-8a7b-4d2e-9f1c-0a9b8d7e6f5a/payments"
                    },
                    "returns": {
                      "href": "/orders/ord_d5f9e3c1-8a7b-4d2e-9f1c-0a9b8d7e6f5a/returns"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "get-order-details"
      },
      "patch": {
        "tags": [
          "Orders"
        ],
        "summary": "Partially update an order",
        "description": "Applies partial updates to an existing order. Only fields provided in the request body will be modified. Useful for updating addresses, notes, or tags.",
        "operationId": "patchOrder",
        "requestBody": {
          "required": true,
          "description": "Fields to update in the order.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderPatchRequest"
              },
              "example": {
                "shippingAddress": {
                  "street1": "123 Updated St",
                  "street2": null
                },
                "notes": "Customer called to update address.",
                "tags": [
                  "Address Updated"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "partially-update-an-order"
      }
    },
    "/orders/{orderId}/status": {
      "parameters": [
        {
          "$ref": "#/components/parameters/orderId"
        }
      ],
      "put": {
        "tags": [
          "Orders"
        ],
        "summary": "Update order status",
        "description": "Updates the primary status of a specific order.",
        "operationId": "updateOrderStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrderStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order status updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict",
            "description": "Conflict - Invalid status transition or order state prevents update."
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "update-order-status"
      }
    },
    "/orders/{orderId}/history": {
      "parameters": [
        {
          "$ref": "#/components/parameters/orderId"
        }
      ],
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order status history",
        "description": "Retrieves the chronological history of status changes and events for a specific order.",
        "operationId": "getOrderHistory",
        "responses": {
          "200": {
            "description": "Order status history.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderStatusHistoryEvent"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "get-order-status-history"
      }
    },
    "/orders/{orderId}/cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/orderId"
        }
      ],
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Cancel an order",
        "description": "Marks an order as cancelled, potentially restocking items and voiding payments if applicable.",
        "operationId": "cancelOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order cancelled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict",
            "description": "Conflict - Order cannot be cancelled in its current state (e.g., already shipped)."
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "cancel-an-order"
      }
    },
    "/orders/{orderId}/hold": {
      "parameters": [
        {
          "$ref": "#/components/parameters/orderId"
        }
      ],
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Place order on hold",
        "description": "Puts an order into an 'on_hold' status, preventing further processing until released.",
        "operationId": "holdOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HoldOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order placed on hold successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict",
            "description": "Conflict - Order cannot be placed on hold in its current state."
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "place-order-on-hold"
      }
    },
    "/orders/{orderId}/release": {
      "parameters": [
        {
          "$ref": "#/components/parameters/orderId"
        }
      ],
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Release order from hold",
        "description": "Removes the 'on_hold' status from an order, allowing processing to resume.",
        "operationId": "releaseOrder",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReleaseOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order released from hold successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict",
            "description": "Conflict - Order is not currently on hold."
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "release-order-from-hold"
      }
    },
    "/orders/{orderId}/items": {
      "parameters": [
        {
          "$ref": "#/components/parameters/orderId"
        }
      ],
      "get": {
        "tags": [
          "Order Items"
        ],
        "summary": "Get all items in an order",
        "description": "Retrieves a list of all line items associated with a specific order.",
        "operationId": "getOrderItems",
        "responses": {
          "200": {
            "description": "List of order items.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderItem"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "get-all-items-in-an-order"
      },
      "post": {
        "tags": [
          "Order Items"
        ],
        "summary": "Add item to order",
        "description": "Adds a new line item to an existing, modifiable order. This action might trigger recalculations and require payment adjustments.",
        "operationId": "addOrderItem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddItemToOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Item added successfully. Returns the updated order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict",
            "description": "Conflict - Order cannot be modified in its current state."
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "add-item-to-order"
      }
    },
    "/orders/{orderId}/items/{itemId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/orderId"
        },
        {
          "$ref": "#/components/parameters/itemId"
        }
      ],
      "put": {
        "tags": [
          "Order Items"
        ],
        "summary": "Update item in order",
        "description": "Updates the quantity or other details of a specific line item within a modifiable order. This action might trigger recalculations.",
        "operationId": "updateOrderItem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateItemInOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item updated successfully. Returns the updated order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Not Found - Order or Item not found."
          },
          "409": {
            "$ref": "#/components/responses/Conflict",
            "description": "Conflict - Order cannot be modified in its current state."
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "update-item-in-order"
      },
      "delete": {
        "tags": [
          "Order Items"
        ],
        "summary": "Remove item from order",
        "description": "Removes a specific line item from a modifiable order. This action might trigger recalculations.",
        "operationId": "removeOrderItem",
        "responses": {
          "204": {
            "description": "Item removed successfully."
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Not Found - Order or Item not found."
          },
          "409": {
            "$ref": "#/components/responses/Conflict",
            "description": "Conflict - Order cannot be modified in its current state."
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "remove-item-from-order"
      }
    },
    "/fulfillments": {
      "get": {
        "tags": [
          "Fulfillments"
        ],
        "summary": "List fulfillments",
        "description": "Retrieves a paginated list of fulfillments, optionally filtered by status, date range, or order ID.",
        "operationId": "listFulfillments",
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/pageParam"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by fulfillment status.",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "processing",
                "shipped",
                "delivered",
                "cancelled"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/filterDateFrom"
          },
          {
            "$ref": "#/components/parameters/filterDateTo"
          },
          {
            "name": "orderId",
            "in": "query",
            "description": "Filter by associated order ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "description": "Filter by fulfillment location ID.",
            "schema": {
              "type": "string",
              "example": "WH-NYC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of fulfillments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedFulfillmentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "list-fulfillments"
      }
    },
    "/fulfillments/{fulfillmentId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fulfillmentId"
        }
      ],
      "get": {
        "tags": [
          "Fulfillments"
        ],
        "summary": "Get fulfillment details",
        "description": "Retrieves complete details for a specific fulfillment record.",
        "operationId": "getFulfillmentById",
        "responses": {
          "200": {
            "description": "Fulfillment details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fulfillment"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "get-fulfillment-details"
      },
      "patch": {
        "tags": [
          "Fulfillments"
        ],
        "summary": "Update fulfillment status or tracking",
        "description": "Updates the status and/or tracking information for a fulfillment. Use this for marking as shipped, delivered, etc.",
        "operationId": "updateFulfillment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFulfillmentStatusRequest"
              },
              "example": {
                "status": "shipped",
                "trackingInfo": {
                  "carrier": "UPS",
                  "trackingNumber": "1Z999AA10123456784"
                },
                "shippedAt": "2023-11-02T14:00:00Z",
                "notes": "Shipped via UPS Ground."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fulfillment updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fulfillment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "update-fulfillment-status-or-tracking"
      }
    },
    "/orders/{orderId}/fulfillments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/orderId"
        }
      ],
      "get": {
        "tags": [
          "Fulfillments",
          "Orders"
        ],
        "summary": "List fulfillments for an order",
        "description": "Retrieves all fulfillment records associated with a specific order.",
        "operationId": "listOrderFulfillments",
        "responses": {
          "200": {
            "description": "List of fulfillments for the order.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fulfillment"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "list-fulfillments-for-an-order"
      },
      "post": {
        "tags": [
          "Fulfillments",
          "Orders"
        ],
        "summary": "Create fulfillment for order",
        "description": "Creates a new fulfillment record for specified items within an order. This typically allocates inventory.",
        "operationId": "createFulfillmentForOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFulfillmentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Fulfillment created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fulfillment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict",
            "description": "Conflict - Items already fulfilled or insufficient stock."
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "create-fulfillment-for-order"
      }
    },
    "/fulfillments/{fulfillmentId}/tracking": {
      "parameters": [
        {
          "$ref": "#/components/parameters/fulfillmentId"
        }
      ],
      "get": {
        "tags": [
          "Fulfillments",
          "Shipping"
        ],
        "summary": "Get fulfillment tracking information",
        "description": "Retrieves the latest tracking details associated with a specific fulfillment.",
        "operationId": "getFulfillmentTracking",
        "responses": {
          "200": {
            "description": "Tracking information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingInfo"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Not Found - Fulfillment not found or no tracking info available."
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "get-fulfillment-tracking-information"
      },
      "put": {
        "tags": [
          "Fulfillments",
          "Shipping"
        ],
        "summary": "Add or update tracking information",
        "description": "Sets or updates the tracking number and carrier for a fulfillment. Often implicitly sets fulfillment status to 'shipped'.",
        "operationId": "updateFulfillmentTracking",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackingInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tracking information updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fulfillment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "add-or-update-tracking-information"
      }
    },
    "/shipping/methods": {
      "get": {
        "tags": [
          "Shipping"
        ],
        "summary": "Get available shipping methods",
        "description": "Lists all shipping methods configured in the OMS.",
        "operationId": "getShippingMethods",
        "responses": {
          "200": {
            "description": "List of shipping methods.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShippingMethod"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "get-available-shipping-methods"
      }
    },
    "/shipping/carriers": {
      "get": {
        "tags": [
          "Shipping"
        ],
        "summary": "Get available shipping carriers",
        "description": "Lists all shipping carriers integrated with the OMS.",
        "operationId": "getShippingCarriers",
        "responses": {
          "200": {
            "description": "List of shipping carriers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ShippingCarrier"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "get-available-shipping-carriers"
      }
    },
    "/shipping/rates": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "Calculate shipping rates",
        "description": "Provides applicable shipping rates for a given shipment based on origin, destination, and package details.",
        "operationId": "calculateShippingRates",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calculated shipping rates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "description": "Service Unavailable - Carrier rating service unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-kong-name": "calculate-shipping-rates"
      }
    },
    "/shipping/labels": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "Generate shipping label",
        "description": "Requests the generation of a shipping label from the specified carrier for a fulfillment.",
        "operationId": "generateShippingLabel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LabelRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Shipping label generated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Not Found - Fulfillment or Shipping Service not found."
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "description": "Unprocessable Entity - Invalid package details or address."
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "description": "Service Unavailable - Carrier label service unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-kong-name": "generate-shipping-label"
      }
    },
    "/returns": {
      "get": {
        "tags": [
          "Returns (RMAs)"
        ],
        "summary": "List returns",
        "description": "Retrieves a paginated list of return requests (RMAs).",
        "operationId": "listReturns",
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/pageParam"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by return status.",
            "schema": {
              "type": "string",
              "enum": [
                "requested",
                "approved",
                "rejected",
                "received",
                "processing",
                "completed",
                "cancelled"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/filterDateFrom"
          },
          {
            "$ref": "#/components/parameters/filterDateTo"
          },
          {
            "name": "orderId",
            "in": "query",
            "description": "Filter by associated order ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of returns.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedReturnResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "list-returns"
      }
    },
    "/orders/{orderId}/returns": {
      "parameters": [
        {
          "$ref": "#/components/parameters/orderId"
        }
      ],
      "get": {
        "tags": [
          "Returns (RMAs)",
          "Orders"
        ],
        "summary": "List returns for an order",
        "description": "Retrieves all return requests associated with a specific order.",
        "operationId": "listOrderReturns",
        "responses": {
          "200": {
            "description": "List of returns for the order.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Return"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "list-returns-for-an-order"
      },
      "post": {
        "tags": [
          "Returns (RMAs)",
          "Orders"
        ],
        "summary": "Create return request",
        "description": "Initiates a return merchandise authorization (RMA) for specified items from an order.",
        "operationId": "createReturnRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReturnRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Return request created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Return"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict",
            "description": "Conflict - Items already returned or not eligible for return."
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "create-return-request"
      }
    },
    "/returns/{returnId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/returnId"
        }
      ],
      "get": {
        "tags": [
          "Returns (RMAs)"
        ],
        "summary": "Get return details",
        "description": "Retrieves complete details for a specific return request (RMA).",
        "operationId": "getReturnById",
        "responses": {
          "200": {
            "description": "Return details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Return"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "get-return-details"
      },
      "patch": {
        "tags": [
          "Returns (RMAs)"
        ],
        "summary": "Update return status or details",
        "description": "Updates the status, resolution, or item conditions of a return (e.g., approve, receive items, set resolution).",
        "operationId": "updateReturn",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReturnStatusRequest"
              },
              "example": {
                "status": "received",
                "items": [
                  {
                    "orderItemId": "item_1a...",
                    "condition": "sellable"
                  }
                ],
                "notes": "Items received and inspected. Condition: Sellable."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Return"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "update-return-status-or-details"
      }
    },
    "/refunds": {
      "get": {
        "tags": [
          "Refunds"
        ],
        "summary": "List refunds",
        "description": "Retrieves a paginated list of refund transactions.",
        "operationId": "listRefunds",
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/pageParam"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by refund status.",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "processed",
                "failed"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/filterDateFrom"
          },
          {
            "$ref": "#/components/parameters/filterDateTo"
          },
          {
            "name": "orderId",
            "in": "query",
            "description": "Filter by associated order ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "returnId",
            "in": "query",
            "description": "Filter by associated return ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of refunds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedRefundResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "list-refunds"
      }
    },
    "/orders/{orderId}/refunds": {
      "parameters": [
        {
          "$ref": "#/components/parameters/orderId"
        }
      ],
      "get": {
        "tags": [
          "Refunds",
          "Orders"
        ],
        "summary": "List refunds for an order",
        "description": "Retrieves all refund transactions associated with a specific order.",
        "operationId": "listOrderRefunds",
        "responses": {
          "200": {
            "description": "List of refunds for the order.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Refund"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "list-refunds-for-an-order"
      },
      "post": {
        "tags": [
          "Refunds",
          "Orders"
        ],
        "summary": "Create refund",
        "description": "Processes a refund against an order, either linked to a return or as a standalone adjustment.",
        "operationId": "createRefundForOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRefundRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Refund created/processed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentFailed"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict",
            "description": "Conflict - Refund amount exceeds refundable balance or duplicate refund attempt."
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "create-refund"
      }
    },
    "/refunds/{refundId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/refundId"
        }
      ],
      "get": {
        "tags": [
          "Refunds"
        ],
        "summary": "Get refund details",
        "description": "Retrieves details for a specific refund transaction.",
        "operationId": "getRefundById",
        "responses": {
          "200": {
            "description": "Refund details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refund"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "get-refund-details"
      }
    },
    "/inventory/levels": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "Get inventory levels",
        "description": "Retrieves current inventory levels for specific SKUs and/or locations.",
        "operationId": "getInventoryLevels",
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/pageParam"
          },
          {
            "name": "sku",
            "in": "query",
            "description": "Filter by a specific SKU or comma-separated list of SKUs.",
            "schema": {
              "type": "string",
              "example": "TSHIRT-BLK-L,MUG-LOGO-WHT"
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "description": "Filter by a specific location ID or comma-separated list.",
            "schema": {
              "type": "string",
              "example": "WH-NYC,WH-LA"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "Retrieve levels updated since this timestamp (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of inventory levels.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedInventoryLevelResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "get-inventory-levels"
      },
      "patch": {
        "tags": [
          "Inventory"
        ],
        "summary": "Adjust inventory levels",
        "description": "Adjusts the quantity on hand for specific SKUs at given locations (e.g., cycle count adjustment, receiving stock).",
        "operationId": "adjustInventoryLevels",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryAdjustmentRequest"
              },
              "example": {
                "adjustments": [
                  {
                    "sku": "TSHIRT-BLK-L",
                    "locationId": "WH-NYC",
                    "changeQuantity": 10,
                    "reason": "Stock Received",
                    "reference": "PO-5544"
                  },
                  {
                    "sku": "MUG-LOGO-WHT",
                    "locationId": "WH-NYC",
                    "changeQuantity": -1,
                    "reason": "Damaged Item",
                    "reference": "ADJ-101"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inventory levels adjusted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryUpdateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Not Found - SKU or Location not found."
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "adjust-inventory-levels"
      }
    },
    "/inventory/check": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Check inventory availability (Bulk)",
        "description": "Checks if requested quantities for multiple SKUs are available, potentially across multiple locations.",
        "operationId": "checkInventoryBulk",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryCheckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inventory availability results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryCheckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Not Found - One or more SKUs or Locations not found."
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "check-inventory-availability-bulk"
      }
    },
    "/inventory/reservations": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Reserve inventory",
        "description": "Temporarily reserves inventory quantities for multiple items, reducing available stock.",
        "operationId": "reserveInventory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryReserveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inventory reserved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryUpdateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict",
            "description": "Conflict - Insufficient stock for one or more items."
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "reserve-inventory"
      },
      "delete": {
        "tags": [
          "Inventory"
        ],
        "summary": "Release reserved inventory",
        "description": "Releases previously reserved inventory for multiple items, increasing available stock.",
        "operationId": "releaseInventory",
        "responses": {
          "200": {
            "description": "Inventory released successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryUpdateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "release-reserved-inventory"
      }
    },
    "/inventory/allocations": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Allocate inventory to order/fulfillment",
        "description": "Allocates specific inventory quantities to an order or fulfillment, reducing available stock (may also release corresponding reservation).",
        "operationId": "allocateInventory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryAllocateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inventory allocated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryUpdateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict",
            "description": "Conflict - Insufficient stock or items already allocated."
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "allocate-inventory-to-order-fulfillment"
      }
    },
    "/locations": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "List locations",
        "description": "Retrieves a list of configured fulfillment locations (warehouses, stores).",
        "operationId": "listLocations",
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/pageParam"
          },
          {
            "name": "isActive",
            "in": "query",
            "description": "Filter by active status.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of locations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedLocationResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "list-locations"
      }
    },
    "/locations/{locationId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/locationIdParam"
        }
      ],
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Get location details",
        "description": "Retrieves details for a specific fulfillment location.",
        "operationId": "getLocationById",
        "responses": {
          "200": {
            "description": "Location details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "get-location-details"
      }
    },
    "/customers/{customerId}/orders": {
      "parameters": [
        {
          "$ref": "#/components/parameters/customerId"
        }
      ],
      "get": {
        "tags": [
          "Customers",
          "Orders"
        ],
        "summary": "Get customer orders",
        "description": "Retrieves a paginated list of orders associated with a specific customer ID.",
        "operationId": "getCustomerOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/pageParam"
          },
          {
            "$ref": "#/components/parameters/filterStatus"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of customer orders.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedOrderResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "Not Found - Customer ID not found."
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "get-customer-orders"
      }
    },
    "/customers/{customerId}/addresses": {
      "parameters": [
        {
          "$ref": "#/components/parameters/customerId"
        }
      ],
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get customer addresses",
        "description": "Retrieves all saved addresses associated with a specific customer ID.",
        "operationId": "getCustomerAddresses",
        "responses": {
          "200": {
            "description": "List of customer addresses.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Address"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "get-customer-addresses"
      }
    },
    "/orders/{orderId}/payments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/orderId"
        }
      ],
      "get": {
        "tags": [
          "Payments",
          "Orders"
        ],
        "summary": "Get order payment transactions",
        "description": "Retrieves all payment transaction details associated with a specific order.",
        "operationId": "getOrderPayments",
        "responses": {
          "200": {
            "description": "List of payment transactions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Payment"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "get-order-payment-transactions"
      },
      "post": {
        "tags": [
          "Payments",
          "Orders"
        ],
        "summary": "Process payment for order",
        "description": "Initiates a payment (authorization or capture) against an order using a specific payment method token.",
        "operationId": "processPayment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment processed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentFailed"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict",
            "description": "Conflict - Order already paid or payment cannot be processed in current state."
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "description": "Service Unavailable - Payment gateway unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-kong-name": "process-payment-for-order"
      }
    },
    "/payments/{paymentId}/capture": {
      "parameters": [
        {
          "$ref": "#/components/parameters/paymentId"
        }
      ],
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Capture authorized payment",
        "description": "Captures funds for a previously authorized payment transaction.",
        "operationId": "capturePayment",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CapturePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment captured successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentFailed"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict",
            "description": "Conflict - Payment not in 'authorized' state or already captured."
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "capture-authorized-payment"
      }
    },
    "/payments/{paymentId}/void": {
      "parameters": [
        {
          "$ref": "#/components/parameters/paymentId"
        }
      ],
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Void payment",
        "description": "Voids a previously authorized (but not captured) payment transaction.",
        "operationId": "voidPayment",
        "responses": {
          "200": {
            "description": "Payment voided successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentFailed"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict",
            "description": "Conflict - Payment not in 'authorized' state or cannot be voided."
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "void-payment"
      }
    },
    "/reports/orders": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Generate Order Report",
        "description": "Generates a report summarizing order data based on specified filters.",
        "operationId": "getOrderReport",
        "parameters": [
          {
            "$ref": "#/components/parameters/filterDateFrom"
          },
          {
            "$ref": "#/components/parameters/filterDateTo"
          },
          {
            "$ref": "#/components/parameters/filterStatus"
          },
          {
            "$ref": "#/components/parameters/filterChannel"
          }
        ],
        "responses": {
          "200": {
            "description": "Order report data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderReport"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "generate-order-report"
      }
    },
    "/reports/fulfillments": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Generate Fulfillment Report",
        "description": "Generates a report on fulfillment performance metrics.",
        "operationId": "getFulfillmentReport",
        "parameters": [
          {
            "$ref": "#/components/parameters/filterDateFrom"
          },
          {
            "$ref": "#/components/parameters/filterDateTo"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "processing",
                "shipped",
                "delivered",
                "cancelled"
              ]
            }
          },
          {
            "name": "carrier",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fulfillment report data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FulfillmentReport"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "generate-fulfillment-report"
      }
    },
    "/reports/returns": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Generate Returns Report",
        "description": "Generates a report summarizing return data and reasons.",
        "operationId": "getReturnReport",
        "parameters": [
          {
            "$ref": "#/components/parameters/filterDateFrom"
          },
          {
            "$ref": "#/components/parameters/filterDateTo"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "requested",
                "approved",
                "rejected",
                "received",
                "processing",
                "completed",
                "cancelled"
              ]
            }
          },
          {
            "name": "reasonCode",
            "in": "query",
            "description": "Filter by a specific return reason code.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return report data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnReport"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "generate-returns-report"
      }
    },
    "/config/statuses/{statusType}": {
      "parameters": [
        {
          "name": "statusType",
          "in": "path",
          "required": true,
          "description": "Type of status to retrieve (e.g., 'order', 'fulfillment', 'return').",
          "schema": {
            "type": "string",
            "enum": [
              "order",
              "fulfillment",
              "return",
              "payment",
              "refund"
            ]
          }
        }
      ],
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Get available statuses",
        "description": "Lists the possible statuses for a given entity type (order, fulfillment, etc.).",
        "operationId": "getConfigStatuses",
        "responses": {
          "200": {
            "description": "List of available statuses for the specified type.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatusConfig"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "get-available-statuses"
      }
    },
    "/config/workflows": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Get configured workflows",
        "description": "Retrieves defined processing workflows (e.g., for order routing, returns processing).",
        "operationId": "getConfigWorkflows",
        "responses": {
          "200": {
            "description": "List of configured workflows.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Workflow"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "get-configured-workflows"
      }
    },
    "/config/webhooks": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "List registered webhooks",
        "description": "Retrieves a list of all currently registered webhook endpoints.",
        "operationId": "listWebhooks",
        "responses": {
          "200": {
            "description": "List of webhooks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "list-registered-webhooks"
      },
      "post": {
        "tags": [
          "Configuration"
        ],
        "summary": "Register webhook",
        "description": "Registers a new webhook endpoint to receive notifications for specified event types.",
        "operationId": "registerWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook registered successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity",
            "description": "Unprocessable Entity - Invalid URL or event types."
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "register-webhook"
      }
    },
    "/config/webhooks/{webhookId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/webhookId"
        }
      ],
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Get webhook details",
        "description": "Retrieves details for a specific registered webhook.",
        "operationId": "getWebhookById",
        "responses": {
          "200": {
            "description": "Webhook details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "get-webhook-details"
      },
      "delete": {
        "tags": [
          "Configuration"
        ],
        "summary": "Delete webhook",
        "description": "Removes a registered webhook subscription.",
        "operationId": "deleteWebhook",
        "responses": {
          "204": {
            "description": "Webhook deleted successfully."
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-kong-name": "delete-webhook"
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Service health check",
        "description": "Provides the operational status of the OMS service and its key dependencies.",
        "operationId": "getHealthCheck",
        "responses": {
          "200": {
            "description": "Service is operational.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthStatus"
                },
                "example": {
                  "status": "ok",
                  "timestamp": "2023-11-01T12:00:00Z",
                  "dependencies": {
                    "database": "ok",
                    "messageQueue": "ok",
                    "shippingCarrierAPI": "ok",
                    "paymentGatewayAPI": "ok"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service is unavailable or one or more dependencies are degraded/erroring.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthStatus"
                },
                "example": {
                  "status": "degraded",
                  "timestamp": "2023-11-01T12:05:00Z",
                  "dependencies": {
                    "database": "ok",
                    "messageQueue": "ok",
                    "shippingCarrierAPI": "error",
                    "paymentGatewayAPI": "ok"
                  }
                }
              }
            }
          }
        },
        "x-kong-name": "service-health-check"
      }
    }
  },
  "components": {
    "schemas": {
      "Money": {
        "type": "object",
        "description": "Represents a monetary value.",
        "properties": {
          "amount": {
            "type": "number",
            "format": "float",
            "description": "The numerical amount.",
            "example": 29.99
          },
          "currencyCode": {
            "type": "string",
            "description": "3-letter ISO 4217 currency code.",
            "example": "USD"
          }
        },
        "required": [
          "amount",
          "currencyCode"
        ]
      },
      "Address": {
        "type": "object",
        "description": "Represents a physical address.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the saved address (if applicable).",
            "readOnly": true,
            "example": "addr_b1a2c3d4-e5f6-7890-1234-567890abcdef"
          },
          "firstName": {
            "type": "string",
            "example": "Jane"
          },
          "lastName": {
            "type": "string",
            "example": "Doe"
          },
          "company": {
            "type": "string",
            "example": "Acme Corp",
            "nullable": true
          },
          "street1": {
            "type": "string",
            "description": "Street address line 1.",
            "example": "123 Main St"
          },
          "street2": {
            "type": "string",
            "description": "Street address line 2 (e.g., Apt, Suite).",
            "example": "Suite 4B",
            "nullable": true
          },
          "city": {
            "type": "string",
            "example": "Anytown"
          },
          "stateCode": {
            "type": "string",
            "description": "State, province, or region code (ISO 3166-2 format where applicable).",
            "example": "CA"
          },
          "postalCode": {
            "type": "string",
            "example": "90210"
          },
          "countryCode": {
            "type": "string",
            "description": "2-letter ISO 3166-1 alpha-2 country code.",
            "example": "US"
          },
          "phone": {
            "type": "string",
            "example": "555-123-4567",
            "nullable": true
          },
          "addressType": {
            "type": "string",
            "enum": [
              "billing",
              "shipping"
            ],
            "description": "Indicates the purpose of the address in the context of the order.",
            "example": "shipping"
          }
        },
        "required": [
          "firstName",
          "lastName",
          "street1",
          "city",
          "postalCode",
          "countryCode"
        ]
      },
      "CustomerInfo": {
        "type": "object",
        "description": "Information identifying the customer placing the order.",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer in the CRM or OMS.",
            "example": "cust_abc987",
            "nullable": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "john.doe@example.com"
          },
          "firstName": {
            "type": "string",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "example": "Doe"
          }
        },
        "required": [
          "email"
        ]
      },
      "OrderItem": {
        "type": "object",
        "description": "Represents a single line item within an order.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for this line item within the order.",
            "readOnly": true,
            "example": "item_1a2b3c4d-5e6f-7890-1234-567890abcdef"
          },
          "sku": {
            "type": "string",
            "description": "Stock Keeping Unit identifying the product variant.",
            "example": "TSHIRT-BLK-L"
          },
          "productId": {
            "type": "string",
            "description": "Identifier for the base product in the PIM/Catalog.",
            "example": "prod_12345",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "Product name at the time of order.",
            "example": "Black T-Shirt - Large"
          },
          "quantity": {
            "type": "integer",
            "format": "int32",
            "description": "Quantity ordered.",
            "minimum": 1,
            "example": 2
          },
          "unitPrice": {
            "$ref": "#/components/schemas/Money",
            "description": "Price per single unit."
          },
          "lineTotal": {
            "$ref": "#/components/schemas/Money",
            "description": "Total price for this line item (unitPrice * quantity).",
            "readOnly": true
          },
          "taxAmount": {
            "$ref": "#/components/schemas/Money",
            "description": "Tax amount applied specifically to this line item.",
            "nullable": true,
            "readOnly": true
          },
          "discountAmount": {
            "$ref": "#/components/schemas/Money",
            "description": "Discount amount applied specifically to this line item.",
            "nullable": true,
            "readOnly": true
          },
          "fulfillmentStatus": {
            "type": "string",
            "enum": [
              "unfulfilled",
              "partially_fulfilled",
              "fulfilled"
            ],
            "description": "Fulfillment status of this specific line item.",
            "example": "unfulfilled",
            "readOnly": true
          },
          "quantityFulfilled": {
            "type": "integer",
            "format": "int32",
            "description": "Quantity of this item that has been fulfilled.",
            "example": 0,
            "readOnly": true
          }
        },
        "required": [
          "sku",
          "name",
          "quantity",
          "unitPrice"
        ]
      },
      "DiscountApplication": {
        "type": "object",
        "description": "Details of a discount applied to the order.",
        "properties": {
          "code": {
            "type": "string",
            "example": "FALLSALE20",
            "description": "The discount code used (if applicable)."
          },
          "description": {
            "type": "string",
            "example": "20% Off Fall Collection",
            "description": "Description of the discount."
          },
          "amount": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount of the discount applied."
          },
          "type": {
            "type": "string",
            "enum": [
              "percentage",
              "fixed_amount",
              "shipping"
            ],
            "example": "percentage"
          },
          "target": {
            "type": "string",
            "enum": [
              "order",
              "item"
            ],
            "description": "Whether the discount applies to the whole order or specific items.",
            "example": "order"
          }
        },
        "required": [
          "description",
          "amount",
          "type",
          "target"
        ]
      },
      "TaxLine": {
        "type": "object",
        "description": "Details of a specific tax applied to the order.",
        "properties": {
          "description": {
            "type": "string",
            "example": "CA State Tax"
          },
          "rate": {
            "type": "number",
            "format": "float",
            "example": 0.0825
          },
          "amount": {
            "$ref": "#/components/schemas/Money"
          }
        },
        "required": [
          "description",
          "rate",
          "amount"
        ]
      },
      "Order": {
        "type": "object",
        "description": "Represents a customer order.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the order.",
            "readOnly": true,
            "example": "ord_d5f9e3c1-8a7b-4d2e-9f1c-0a9b8d7e6f5a"
          },
          "orderNumber": {
            "type": "string",
            "description": "Human-readable order number, often prefixed by channel.",
            "example": "WEB-1001"
          },
          "channel": {
            "type": "string",
            "description": "The sales channel where the order originated.",
            "example": "Website"
          },
          "status": {
            "type": "string",
[...]
